<a href="https://colab.research.google.com/github/qedir314/ZTM-AI-ML-DS/blob/main/1_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First code

In [1]:
print("Hello World")

Hello World

In [2]:
input("What's ur name:")

What's ur name:Jonas

'Jonas'

In [3]:
name = input("What's ur name?")
print(name)

What's ur name?Jonas
Jonas

In [5]:
print("Hellloooo " + name)

Hellloooo Jonas

### Fundamental Data Types
int
float
bool
str
list
tuple
set
dict

### Classes---> Custom Data Types

### Specialized Data Types
Modules
None

### int and float

In [6]:
print(2+4)
print(2-4)
print(2*4)
print(2/4)

6
-2
8
0.5

In [7]:
print(type(2+4))
print(type(2-4))
print(type(2*4))
print(type(2/4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [8]:
print(9.9+1.1)
print(type(9.9+1.1))

11.0
<class 'float'>

In [9]:
print(2**3)
print(6//4)
print(7%5)

8
1
2

### Math Functions

In [10]:
round(3.1)

3

In [11]:
round(3.9)

4

In [12]:
round(-2.1)

-2

In [13]:
round(-2.8)

-3

In [14]:
abs(-4.5)   #absolute value

4.5

### Operator Precedence

In [15]:
print(20 - 3 *4)
print(( 20 - 3 ) + 2 ** 2)

8
21

### Binary and Decimal

In [16]:
print( bin (5) )
print( int ('0b101', 2) )

0b101
5

### Variables

In [17]:
iq = 130
print(iq)

130

In [18]:
a,b,c = 4,5,20
print(a)
print(b)
print(c)

4
5
20

### Expressions vs Statements

In [19]:
iq = 130 #Statement
user_iq = 130 / 4         #total Statement       #130/4 is Expression

### Strings

In [20]:
print(type("Hello There"))

<class 'str'>

In [21]:
username = 'supercoder'
password = 'supersecret'
long_string = '''
WOW
0 0
---
'''
print(long_string)

WOW
0 0
---

In [22]:
first_name = "Messi"
last_name = "Mbappe"
full_name = first_name + " " + last_name
print(full_name)

Messi Mbappe

### String Concatenation

In [23]:
print("Bitcoin" + " And " + "Ethereum")

Bitcoin And Ethereum

### Type Conversion

In [24]:
a = str(100)
b = a
c = type(b)
print(c)

<class 'str'>

### Escape Sequences

In [25]:
weather = "it\'s \"kind of\" sunny\nhope u have good day"
print(weather)
weather = "\t it\'s \"kind of\" sunny"
print(weather)

it's "kind of" sunny
hope u have good day
	 it's "kind of" sunny

### Formatted Strings

In [26]:
name = 'Johnny'
age = 52

print('hi ' + name + '. You are ' + str(age) + ' years old.')
print(f'hi {name}. You are {age} years old.')
print('hi {}. You are {} years old.'.format('Johnny',52))
print('hi {}. You are {} years old.'.format(name, age))
print('hi {1}. You are {0} years old.'.format(name, age))
print('hi {new_name}. You are {age} years old.'.format(new_name='Sally', age=100))

hi Johnny. You are 52 years old.
hi Johnny. You are 52 years old.
hi Johnny. You are 52 years old.
hi Johnny. You are 52 years old.
hi 52. You are Johnny years old.
hi Sally. You are 100 years old.

### String Indexes

In [27]:
selfish = '01234567'
          #01234567
  #start:stop:step
print(selfish[0:8])
print(selfish[0:8:2])
print(selfish[1:])
print(selfish[:5])
print(selfish[::1])
print(selfish[-1])
print(selfish[::-1])
print(selfish[::-2])

01234567
0246
1234567
01234
01234567
7
76543210
7531

### Immutability

In [29]:
selfish = '01234567'
          #01234567
# selfish[0] = 8   # impossible
print(selfish)

01234567

In [30]:
selfish = selfish + '8'
print(selfish)

012345678

### Built-in Functions

In [31]:
print(len("Helloo"))

6

In [32]:
greet = "hellooo"
print(greet[0:len(greet)])

hellooo

In [33]:
quote = "to be or not to be"
print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
quote2 = quote.replace('be', 'me')
print(quote2)
print(quote)

TO BE OR NOT TO BE
To be or not to be
3
to me or not to me
to be or not to be

### Booleans

In [34]:
name = 'Andrei'
is_cool = False
is_cool = True

print(bool(1))
print(bool(0))
print(bool("False"))
print(bool(''))

True
False
True
False

### Password Checker

In [35]:
username = input("Enter your username?")
password = input("What is your password?")

password_length = len(password)
hidden_password = '*' * password_length
print(f"{username},your password, {hidden_password}, is {password_length} letters long.")

Enter your username?jonas00
What is your password?jonas01
jonas00,your password, *******, is 7 letters long.

### Lists

In [36]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c']
li3 = [1, 2.5, 'a', True]

In [38]:
amazon = ['notebooks','sunglasses']
print(amazon[0])
print(amazon[1])
print(amazon[-2])
# print(amazon[2]) out of range

notebooks
sunglasses
notebooks

### List Slicing

In [39]:
amazon = ['notebooks','sunglasses','toys','grapes']
print(amazon[0:2])
print(amazon[0::2])
amazon[0] = 'laptop'
print(amazon)
print(amazon[1:3])

['notebooks', 'sunglasses']
['notebooks', 'toys']
['laptop', 'sunglasses', 'toys', 'grapes']
['sunglasses', 'toys']

In [40]:
new = amazon[0:3]
new[0] = 'gum'
print(new)

['gum', 'sunglasses', 'toys']

### Matrix

In [41]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])
print(matrix[1])
print(matrix[:][:])

6
[4, 5, 6]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List Methods

In [42]:
basket = [1,2,3,4,5]
print(len(basket))

5

In [43]:
# Adding
new_list = basket.append(100)
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 100]
None

In [44]:
basket.append(250)
new_list = basket
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 100, 250]
[1, 2, 3, 4, 5, 100, 250]

In [45]:
basket1 = [1,2,3,4,5,6]
basket1.insert(1,150)
print(basket1)

[1, 150, 2, 3, 4, 5, 6]

In [46]:
basket1.insert(6,100)
print(basket1)

[1, 150, 2, 3, 4, 5, 100, 6]

In [47]:
basket1.insert(9,103)
print(basket1)

[1, 150, 2, 3, 4, 5, 100, 6, 103]

In [48]:
basket2 = [1,2,3,4,5,6]
basket2.extend([2,123,23222])
print(basket2)

[1, 2, 3, 4, 5, 6, 2, 123, 23222]

In [49]:
#Removing
basket = [1,2,3,4,5,6]
basket.pop()
print(basket)

[1, 2, 3, 4, 5]

In [50]:
basket.pop(1)
print(basket)

[1, 3, 4, 5]

In [51]:
basket.remove(4)
print(basket)

[1, 3, 5]

In [52]:
basket3 = [1,2,3,4,5]
new_list = basket3.remove(2)
print(new_list)

None

In [53]:
basket3 = [1,2,3,4,5]
new_list = basket3.pop(2)
print(new_list)

3

In [54]:
basket3.clear()
print(basket3)

[]

### List Methods 2

In [55]:
basket = ['a','b','c','d','e']
print(basket.index('d'))
print(basket.index('c',0,4))
print(basket.count('d'))

3
2
1

### List Methods 3

In [56]:
basket = [2,8,5,2,1,0,5,9]
basket.sort()
print(basket)

[0, 1, 2, 2, 5, 5, 8, 9]

In [57]:
basket = [2,8,5,2,1,0,5,9]
print(sorted(basket))
print(basket)

[0, 1, 2, 2, 5, 5, 8, 9]
[2, 8, 5, 2, 1, 0, 5, 9]

In [58]:
basket = [2,8,5,2,1,0,5,9]
basket.reverse()
print(basket)

[9, 5, 0, 1, 2, 5, 8, 2]

In [59]:
basket = [2,8,5,2,1,0,5,9]
basket.sort()
basket.reverse()
print(basket)

[9, 8, 5, 5, 2, 2, 1, 0]

### Common List Patterns

In [60]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [61]:
sentence = ' '
new_sentence = sentence.join(['hello','my','name','is','Jonas'])
print(new_sentence)

hello my name is Jonas

In [62]:
new_sentence = " ".join(['hello','my','name','is','Jonas'])
print(new_sentence)

hello my name is Jonas

### List Unpacking

In [63]:
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

### None

In [64]:
weapons = None
print(weapons)

None

### Dictionary

In [65]:
dictionary = {
    'a': 1,
    'b': 2,
    'x': 3
}

print(dictionary['b'])
print(dictionary)

2
{'a': 1, 'b': 2, 'x': 3}

In [66]:

my_list = [
    {
        'a' : [1,2,3],
        'b' : 'hello',
        'x' : True
    },
    {
    'a' : [4,5,6],
    'b' : 'hello',
    'x' : True
    }
]
print(my_list[0]['a'][2])

3

In [67]:
user = {
    'basket' : [1,2,3],
    'greet' : 'hello',
    'age' : 20
}
print(user.get('age',55))

20

In [68]:
user2 = dict( name = 'John John' )
print(user2)

{'name': 'John John'}

In [69]:
print(user2.items())

dict_items([('name', 'John John')])

In [70]:
user2.clear()
print(user2)

{}

In [71]:
user = {
    'basket' : [1,2,3],
    'greet' : 'hello',
    'age' : 20
}
print(user.pop('age'))
print(user)

20
{'basket': [1, 2, 3], 'greet': 'hello'}

In [72]:
user = {
    'basket' : [1,2,3],
    'greet' : 'hello',
    'age' : 20
}
print(user.popitem())
print(user)

('age', 20)
{'basket': [1, 2, 3], 'greet': 'hello'}

In [73]:
user = {
    'basket' : [1,2,3],
    'greet' : 'hello',
    'age' : 20
}
print(user.update({'age': 44}))
print(user)

None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 44}

In [74]:
print(user.update({'country': 'Azerbaijan'}))
print(user)

None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 44, 'country': 'Azerbaijan'}

### Tuples

In [75]:
my_tuple = (1,2,3,4,5)
print(my_tuple[2])
print(5 in my_tuple)
my_tuple[0] = 'z'

3
True

TypeError: 'tuple' object does not support item assignment

In [76]:
user = {
    (1,2) : [1,2,3],
    'greet' : 'hello',
    'age' : 20
}
print(user[(1,2)])

[1, 2, 3]

In [77]:
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[2:3]
print(new_tuple)
new_tuple = my_tuple[2:4]
print(new_tuple)

(3,)
(3, 4)

In [78]:
x,y,z, *other = (1,2,3,4,5)
print(x)
print(y)
print(z)
print(other)

1
2
3
[4, 5]

In [79]:
my_tuple = (1,2,3,4,5,5)
print(my_tuple.count(5))

2

In [80]:
my_tuple = (1,2,3,4,5,5)
print(f"index of 5 is {my_tuple.index(5)}")
print(f"length of my_tuple is {len(my_tuple)}")

index of 5 is 4
length of my_tuple is 6

### Sets
#### unordered collection of unique elements

In [81]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [82]:
my_set = {1,2,3,4,4,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

In [83]:
my_set = {1,2,3,4,4,4,5,5}
my_set.add(199)
my_set.add(135)
my_set.add(2)
# we can't :(
print(my_set)

{1, 2, 3, 4, 5, 199, 135}

In [84]:
#Return Unique elements
my_list = [1,2,3,4,5,5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [85]:
my_set = {1,2,3,4,4,4,5,5}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
my_set = {1,2,3,4,4,4,5,5}
print(3 in my_set)
print(len(my_set))
new_set = my_set.copy()
my_set.clear()
print(list(new_set))
print(my_set)

### Sets 2

In [86]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))          # A \ B
print(my_set)
my_set.discard(5)
print(my_set)

{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [87]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

my_set.difference_update(your_set)
my_set

{1, 2, 3}

In [88]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.intersection(your_set))
print(my_set & your_set)

{4, 5}
{4, 5}

In [89]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.isdisjoint(your_set))

False

In [90]:
my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}

print(my_set.isdisjoint(your_set))

True

In [91]:
my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}

print(my_set.union(your_set))
print(my_set | your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [92]:
my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}
print(my_set.issubset(your_set))

False

In [93]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issubset(your_set))

True

In [94]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issuperset(your_set))

False

In [95]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(your_set.issuperset(my_set))

True