<a href="https://colab.research.google.com/github/qedir314/ZTM-AI-ML-DS/blob/main/2_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Conditional logic

In [33]:
is_old = True
is_licensed = True

if is_old and is_licensed:
    print("you are old enough to drive, and you have a license")
else:
    print("you are not of age")
print("okoko")

you are old enough to drive, and you have a license
okoko

### Truthy and Falsy

In [34]:
print(bool(5))
print(bool("heello"))

True
True

In [35]:
print(bool(0))
print(bool(""))
print(bool([]))

False
False
False

### Ternary Operator

In [36]:
#condition_if_True if condition else condition_if_False
is_friend = True
can_message = "message allowed" if is_friend else "not allowed to message"
print(can_message)

message allowed

In [37]:
is_friend = False
can_message = "message allowed" if is_friend else "not allowed to message"
print(can_message)

not allowed to message

### Short Circuiting

In [38]:
is_friend = True
is_user = True
if is_friend or is_user:
    print("YES")
print("Finish")

YES
Finish

In [39]:
if True or False:
    print("YES")
print("Finish")

YES
Finish

In [40]:
if True and True:
    print("YES")
print("Finish")

YES
Finish

In [41]:
is_friend = False
is_user = False
if is_friend and is_user:
    print("YES")
else:
    print("NO")
print("Finish")

NO
Finish

In [42]:
a = 1 < 0
if a and 1 / 0 == 0:
    print(True)
else:
    print(False)

False

### Logical Operators

In [43]:
print(1<2<3<4)

True

In [44]:
print(1<2>3<4)

False

print(1 >= 0)
print(0 >= 0)

In [45]:
print(0 != 0)
print(0 != 1)

False
True

In [46]:
print(not(True))
print(not False)
print(not 1==1)

False
True
False

### Exercise Logical Operator

In [47]:
is_magician = True
is_expert = False
# check if magician AND expert: "you are a naster magician"
if is_magician and is_expert:
    print("You are a master magician.")
#check if magician, but not expert: "at least you are getting there"
elif is_magician and not is_expert:
    print("at least you are getting there.")
#if you are not magician: "you need magic powers "
elif not is_magician:
    print("You need magic powers")

at least you are getting there.

### is vs ==

In [48]:
print(True == 1)
print('' == 1)
print('1' == 1)
print([] == 1)
print(10 == 10.0)
print([1,2,3] == [1,2,3])

True
False
False
False
True
True

In [49]:
print(True is 1)
print('' is 1)
print('1' is 1)
print([] is 1)
print(10 is 10.0)
print([1,2,3] is [1,2,3])

False
False
False
False
False
False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-49-0f26e26e3d08>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
<ipython-input-49-0f26e26e3d08>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is 1)
<ipython-input-49-0f26e26e3d08>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is 1)
<ipython-input-49-0f26e26e3d08>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([] is 1)
<ipython-input-49-0f26e26e3d08>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

In [50]:
print(True is True)
print('1' is '1')
print([] is [])  #False memory isn't the SAME
print(10 is 10)
print([1,2,3] is [1,2,3])   #False memory isn't the SAME

True
True
False
True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-50-30c7d047245c>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is '1')
<ipython-input-50-30c7d047245c>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10)

In [51]:
a = [1,2,3]
b = [1,2,3]
print(a is b)
print(a == b)

False
True

### For Loops

In [52]:
for item in 'Zero to Mastery':
    print(item)

Z
e
r
o

t
o

M
a
s
t
e
r
y

In [53]:
for item in [1,2,3,4,5]:
    print(item)

1
2
3
4
5

In [54]:
for item in {1,2,3,4,5}:
    print(item)

1
2
3
4
5

In [55]:
for item in (1,2,3,4,5):
    print(item)

1
2
3
4
5

In [56]:
for item in (1,2,3,4,5):
    print(item)
print(item)

1
2
3
4
5
5

In [57]:
for item in (1,2,3,4,5):
    for x in ['a','b','c']:
        print(item,x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [58]:
user = {
    'name' : 'Golem',
    'age' : 5006,
    'can_swim' : True
}

for item in user:
    print(item)

name
age
can_swim

In [59]:
for item in user.items():
    print(item)

('name', 'Golem')
('age', 5006)
('can_swim', True)

In [60]:
for item in user.values():
    print(item)

Golem
5006
True

In [61]:
for item in user.keys():
    print(item)

name
age
can_swim

In [62]:
for item in user.items():
    key, value = item
    print(key, value)

name Golem
age 5006
can_swim True

In [63]:
for key,value in user.items():
    print(key, value)

name Golem
age 5006
can_swim True

In [64]:
#for item in 50:
#    print(item)
    # 'int' object is not iterable

In [65]:
# iterable --> list, dictionary, tuple, set, string

### Exercise Tricky Counter

In [66]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in my_list:
    sum += i
print(sum)

55

### Range

In [67]:
for number in range(0,100):
    print(number,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [68]:
for _ in range(0,5):
    print(_,end=" ")

0 1 2 3 4

In [69]:
for _ in range(0,10,3):
    print(_,end=" ")

0 3 6 9

In [70]:
for _ in range(10,0,-1):
    print(_,end=" ")

10 9 8 7 6 5 4 3 2 1

In [71]:
for _ in range(0,3,1):
    print(list(range(5)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

### Enumerate

In [72]:
for i,char in enumerate('Heelloo'):
    print(i, char)

0 H
1 e
2 e
3 l
4 l
5 o
6 o

In [73]:
for i in enumerate('Heelloo'):
    print(i)

(0, 'H')
(1, 'e')
(2, 'e')
(3, 'l')
(4, 'l')
(5, 'o')
(6, 'o')

In [74]:
for i,char in enumerate([1,2,3]):    #list
    print(i, char)

0 1
1 2
2 3

In [75]:
for i,char in enumerate((1,2,3)):    #tuple
    print(f"index {i}, item {char}")

index 0, item 1
index 1, item 2
index 2, item 3

In [76]:
for i,item in enumerate(list(range(100))):
    if item == 50:
        print(f"index of 50 is {i}")

index of 50 is 50

### While

In [77]:
i = 0
while i <10:
    print(i,end = ' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [78]:
i = 0
while i <10:
    print(i)
    i += 1
else:
    print("done with all the work")

0
1
2
3
4
5
6
7
8
9
done with all the work

In [79]:
i = 0
while i <10:
    print(i)
    i += 1
    break
else:
    print("done with all the work")

0

In [80]:
my_list = [1,2,3]
for num in my_list:
    print(num)

i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3
1
2
3

In [81]:
while True:
    response = input("say smth:")
    if (response == 'bye'):
        break

say smth:hey
say smth:bye

### Break, Continue, Pass

In [82]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [83]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [84]:
for i in [1,2,3]:
    #Thinking
    pass #doing nothing - for placeholding

### Exercise : Our first GUI

In [85]:
picture = [
  [0,0,0,1,0,0,0],
  [0,0,1,1,1,0,0],
  [0,1,1,1,1,1,0],
  [1,1,1,1,1,1,1],
  [0,0,0,1,0,0,0],
  [0,0,0,1,0,0,0]
]
for i in picture:
    for j in i:
        if j == 0: print(' ',end= '')
        elif j == 1: print('*',end = '')
    print('')

   *
  ***
 *****
*******
   *
   *

### Find the duplicates

In [86]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
new = []
duplicates = []
for i in some_list:
    if i not in new:
        new.append(i)
    else:
        duplicates.append(i)
print(duplicates)

['b', 'n']

In [87]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
duplicates = []
for value in some_list:
    if some_list.count(value) > 1 and value not in duplicates:
        duplicates.append(value)
print(duplicates)

['b', 'n']

### Functions

In [88]:
def say_hello():
    print("hello")

In [89]:
say_hello()

hello

In [90]:
picture = [
  [0,0,0,1,0,0,0],
  [0,0,1,1,1,0,0],
  [0,1,1,1,1,1,0],
  [1,1,1,1,1,1,1],
  [0,0,0,1,0,0,0],
  [0,0,0,1,0,0,0]
]
def show_tree():
    for i in picture:
        for j in i:
            if j == 0: print(' ',end= '')
            elif j == 1: print('*',end = '')
        print('')

In [91]:
show_tree()
show_tree()
show_tree()

   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *

In [92]:
print(show_tree)

<function show_tree at 0x7a03fd7e6170>

### Parameters vs Arguments

In [93]:
# Parameters
def say_hello(name,emoji):
    print(f"Hello {name}{emoji}")

#Arguments
say_hello("Benzema","😎")
say_hello("Bellingham","😎")

Hello Benzema😎
Hello Bellingham😎

In [94]:
# keyword Arguments
say_hello(emoji='😎', name='Salah')
say_hello(name='Salah', emoji='😎')

Hello Salah😎
Hello Salah😎

In [176]:
#Default Parameters
def say_hello(name='Vini',emoji='😂'):
    print(f"Hello {name}{emoji}")

In [177]:
say_hello("Benzema","😎")
say_hello(name='Salah', emoji='😎')
say_hello()
say_hello("Tommy")

Hello Benzema😎
Hello Salah😎
Hello Vini😂
Hello Tommy😂

### Return

In [97]:
def sum(num1,num2):
    num1 + num2
print(sum(4,5))

None

In [98]:
def sum(num1,num2):
    return num1 + num2
print(sum(4,5))

9

In [99]:
def sum(num1,num2):
    print("hiii")
    num1 + num2
print(sum(4,5))

hiii
None

In [175]:
def sum(num1, num2):
    def another_func(num1, num2):
        return num1 + num2
total = sum(10,20)
print(total)

None

In [174]:
def sum(num1, num2):
    def another_func(n1, n2):
        return n1 + n2
    return another_func(num1,num2)
    return 3
    print("finish")
total = sum(10,20)
print(total)

30

In [173]:
def sum(num1, num2):
    def another_func(n1, n2):
        return n1 + n2
    return another_func
print(sum(10,50))

<function sum.<locals>.another_func at 0x7a03d146db40>

### Exercise : Tesla

In [103]:
age = input("What is your age?: ")

if int(age) < 18:
	print("Sorry, you are too young to drive this car. Powering off")
elif int(age) > 18:
	print("Powering On. Enjoy the ride!");
elif int(age) == 18:
	print("Congratulations on your first year of driving. Enjoy the ride!")

What is your age?: 20
Powering On. Enjoy the ride!

In [104]:
def checkDriverAge():
  age = input("What is your age?: ")

  if int(age) < 18:
    print("Sorry, you are too young to drive this car. Powering off")
  elif int(age) > 18:
    print("Powering On. Enjoy the ride!");
  elif int(age) == 18:
    print("Congratulations on your first year of driving. Enjoy the ride!")
checkDriverAge()

What is your age?: 23
Powering On. Enjoy the ride!

In [105]:
def checkDriverAge(age = 0):

  if int(age) < 18:
    print("Sorry, you are too young to drive this car. Powering off")
  elif int(age) > 18:
    print("Powering On. Enjoy the ride!");
  elif int(age) == 18:
    print("Congratulations on your first year of driving. Enjoy the ride!")

checkDriverAge(18)

Congratulations on your first year of driving. Enjoy the ride!

### Methods vs Functions

In [108]:
# Functions
list()
print()
#min()
#max()
def my_function():
    pass
# Methods comes after dots .
"hello".capitalize()

'Hello'

### Docstrings

In [109]:
def test(a):
    '''
    INFO: test a and print parameter a
    '''
    print(a)
test("!!!")

!!!

In [110]:
help(test)
print(test.__doc__)

Help on function test in module __main__:

test(a)
    INFO: test a and print parameter a


    INFO: test a and print parameter a

### Clean Code

In [111]:
def is_even(num):
    if num % 2 == 0:
        return True
    elif num % 2 != 0:
        return False
print(is_even(50))
print(is_even(51))

True
False

In [112]:
def is_even(num):
    return num % 2 == 0
print(is_even(50))
print(is_even(51))

True
False

### *Args and **Kwargs

In [168]:
import builtins
def super_func(*argv):
    return builtins.sum(argv)
super_func(1,2,3,4)

10

In [169]:
def super_func(*args):
    print(args)
    print(*args)
    return builtins.sum(args)
print(super_func(1,2,3,4))

(1, 2, 3, 4)
1 2 3 4
10

In [170]:
def super_func(*args, **kwargs):
    print(kwargs)
    total = 0
    for items in kwargs.values():
        total += items
    return builtins.sum(args) + total
print(super_func(1,2,3,4, num1=5, num2=10))

{'num1': 5, 'num2': 10}
25

###### Rule: params, *args, default parameters, **kwargs

In [171]:
def super_func(name,*args, i='hi',**kwargs):
    print(kwargs)
    print(i + " " + name)
    total = 0
    for items in kwargs.values():
        total += items
    return builtins.sum(args) + total
print(super_func('Andy',1,2,3,4, num1=5, num2=10))

{'num1': 5, 'num2': 10}
hi Andy
25

### Exercise - Functions

In [122]:
def highest_even(li):
    max_even = 0
    for item in li:
        if item % 2 == 0 and item >= max_even:
            max_even = item
    return max_even
    pass

print(highest_even([10,2,4,8,15,18]))

18

In [123]:
def highest_even(li):
    evens = []
    for item in li:
        if item % 2 == 0:
            evens.append(item)
    return max(evens)
    pass

print(highest_even([10,2,4,8,15,18]))

18

### Scope

In [153]:
# Scope - what variables do I have access to?
# print(name)

NameError: name 'name' is not defined

In [154]:
def function():
    total = 100
print(total)

30

In [155]:
if True:
    x = 5
def function():
    total = 100
print(x)

5

In [156]:
if True:
    x = 5
def function():
    total = 100
    print(x)
    return total
print(function())

5
100

### Scope Rules

In [157]:
a = 1
def confusion():
    a = 5
    return a
print(a)
print(confusion())

1
5

In [158]:
a = 1
def confusion():
    return a
print(a)
print(confusion())

1
1

In [159]:
a = 1
def confusion():
    a = 10
    def parent():
        return a
    return parent()
print(a)
print(confusion())

1
10

In [160]:
a = 1
def confusion():
    def parent():
        return a
    return parent()
print(a)
print(confusion())

1
1

In [161]:
a = 1
def confusion():
    def parent():
        return sum
    return parent()
print(a)
print(confusion())

1
<function sum at 0x7a04116ce710>

In [ ]:
#1 Start with the local
#2 parent local scope ?
#3 Global
#4 built in python functions

### Global keyword

In [162]:
a = 10
def confusion(b):
    print(b)
    a = 80
confusion(399)

399

In [163]:
total = 0
def count():
    total += 1
    return total
count()
print(count())

UnboundLocalError: local variable 'total' referenced before assignment

In [164]:
total = 0
def count():
    total = 0
    total += 1
    return total
count()
count()
print(count())

1

In [165]:
total = 0
def count():
    global total
    total += 1
    return total
count()
count()
print(count())

3

In [166]:
total = 0
def count(total):
    total += 1
    return total

print(count(count(count(total))))

3

### non local keyword

In [151]:
def outer():
    x = "local"
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner :", x)
    inner()
    print("outer: ", x)
outer()

inner : nonlocal
outer:  nonlocal

In [152]:
def outer():
    x = "local"
    def inner():
        x = "nonlocal"
        print("inner :", x)
    inner()
    print("outer: ", x)
outer()

inner : nonlocal
outer:  local

### Pure Functions

In [149]:
# Pure
def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item*2)
    return new_list
print(multiply_by2([1,3,4]))

[2, 6, 8]

In [125]:
# not Pure (because of print after return)
def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item*2)
    return print(new_list)
multiply_by2([1,3,4])

[2, 6, 8]

In [126]:
# not Pure (because of interacting with Other World)
new_list = []
def multiply_by2(li):
    for item in li:
        new_list.append(item*2)
    return print(new_list)
multiply_by2([1,3,4])

[2, 6, 8]

In [148]:
# # not Pure (because of interacting with Other World)
# new_list = []
# def multiply_by2(li):
#     for item in li:
#         new_list.append(item*2)
#     print(new_list)
# new_list = ''
# multiply_by2([1,3,4])

### map()

In [128]:
def multiply_by2(item):
    return item*2
print(list(map(multiply_by2, [1,2,3])))

[2, 4, 6]

In [129]:
my_list = [1,2,3]
def multiply_by2(item):
    return item*2
print(list(map(multiply_by2, my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

### filter()

In [130]:
my_list = [1,2,3,4,41,5,29,44]
def only_odd(item):
    return item % 2 != 0
print(list(filter(only_odd, my_list)))
print(my_list)

[1, 3, 41, 5, 29]
[1, 2, 3, 4, 41, 5, 29, 44]

### zip()

In [131]:
my_list = [1,2,3]
your_list = [10,20,30]

print(list(zip(my_list,your_list)))

[(1, 10), (2, 20), (3, 30)]

In [132]:
my_list = [1,2,3]
your_list = (10,20,30)

print(list(zip(my_list,your_list)))

[(1, 10), (2, 20), (3, 30)]

In [133]:
my_list = [1,2,3]
your_list = (10,20,30)
their_list = [5,4,3]

print(list(zip(my_list,your_list,their_list)))
print(my_list)

[(1, 10, 5), (2, 20, 4), (3, 30, 3)]
[1, 2, 3]

### reduce()

In [134]:
from functools import reduce
my_list = [1,2,3]
def accumulator(acc,item):
    print(acc,item)
    return acc + item
print(reduce(accumulator,my_list,0))
print(my_list)

0 1
1 2
3 3
6
[1, 2, 3]

In [135]:
print(reduce(accumulator,my_list,10))

10 1
11 2
13 3
16

### List Comprehensions

In [136]:
# my_list = [param for param in iterable]
my_list = []
for char in 'hello':
    my_list.append(char)
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [137]:
my_list = [char for char in 'hello']
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [138]:
my_list = [number for number in range(100)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [139]:
my_list = [2*number for number in range(100)]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [140]:
my_list = [number**2 for number in range(100) if number % 2 != 0]
print(my_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

### Set Comprehensions

In [141]:
my_list = {char for char in 'hello'}
print(my_list)
my_list = {number**2 for number in range(100) if number % 2 != 0}
print(my_list)

{'o', 'l', 'h', 'e'}
{1, 3969, 4225, 9, 3721, 4489, 5625, 529, 1681, 7569, 25, 3481, 4761, 289, 2209, 6561, 169, 2601, 5929, 49, 3249, 5041, 2809, 441, 1849, 7225, 961, 1089, 9025, 9409, 841, 1225, 8649, 9801, 81, 3025, 5329, 1369, 729, 8281, 225, 2401, 6241, 361, 2025, 6889, 625, 1521, 7921, 121}

### Dictionary comprehensions

In [142]:
simple_dict = {
    'a' : 1,
    'b' : 2
}
my_dict = {key:value**2 for key,value in simple_dict.items()}
print(my_dict)

{'a': 1, 'b': 4}

In [143]:
my_dict = {k:v**2 for k,v in simple_dict.items() if v % 2 == 0}
print(my_dict)

{'b': 4}

In [144]:
my_dict = {num:num*2 for num in [1,2,3]}
print(my_dict)

{1: 2, 2: 4, 3: 6}

### Exercies Comprehensions

In [145]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = []
for value in some_list:
    if some_list.count(value) > 1:
        if value not in duplicates:
            duplicates.append(value)

print(duplicates)

['b', 'n']

In [146]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
duplicates = []
duplicates = list(set([value for value in some_list if some_list.count(value) > 1 ]))
print(duplicates)

['n', 'b']